/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.font{
  font-family: Inconsolata;
}

.topleft {
position: fixed;
margin-left: 0px;
top: -40px;
}


/* .overlay {
  background-image: url('../4.png');
  height:400px;
  width:600px;
} */

.topright {
position: fixed;
right:0px;
top:-40px;
}

.btleft {
position: fixed;
left: 0px;
bottom: -30px;
}

.btright {
position: fixed;
right: 0px;
bottom: -30px;
}


.ew-resize {cursor: ew-resize;}


html, rolling {
   height: 100%;
   margin: 0;
   padding: 0px;
   width: 100%;
}

.scroll {
    height: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
}

.scroll img {
    height: 100%;
    vertical-align: top; /* this prevents vertical whitespace */
}


.textbox1 {
	width: 300px;
  height: 250px;
	margin-left: 3%;
  margin-top: -2%;
  padding: 30px;
}

.textbox2 {
float: left;
	width: 300px;
	height: 250px;
	margin-left: 36%;
  margin-top: -9%;
  padding: 30px;
}

.textbox3 {
  position: absolute;
  float: left;
	width: 300px;
  height: 250px;
	margin-left: 60%;
  margin-top: -26%;
  padding: 30px;
}



/* description */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    opacity: 0.8;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 3px 20px;
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 60%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* test2  */
/* .couponcode:hover .coupontooltip {
    display: block;
}


.coupontooltip {
    display: none;
    background: #C8C8C8;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:200px;
    height:100px;
}

.couponcode {
    margin:100px;
} */




/* 反色 */
